@model IEnumerable<TaskModule_Web.Models.UserTask>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateNewTask")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
           Status
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if(item.IsComplete)
            {
                <p>Completed</p>
            }else if (item.Deadline == null)
            {
                <p>UnAssigned</p>
            }
            else
            {
                <p>InComplete</p>
            }


        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>


        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
